{% extends "base.html" %}
{% block content %}

<h3>Model Details</h3>
<dl class="dl-horizontal">
  <dt>CCCMA CGCM 3.1</dt>
  <dd>
    Canadian Centre for Climate Modelling and Analysis &ndash; General Circulation Model version 3.1 - t47
  </dd>
  <dt>MPI ECHAM 5</dt>
  <dd>
    Max Planck Institute for Meteorology &ndash; European Centre Hamburg Model 5
  </dd>
  <dt>GFDL CM 2.1</dt>
  <dd>
    Geophysical Fluid Dynamics Laboratory &ndash; Coupled Climate Model 2.1
  </dd>
  <dt>UKMO HADCM 3.0</dt>
  <dd>
    UK Met Office - Hadley Centre &ndash; Coupled Model 3.0
  </dd>
  <dt>MIROC 3.2</dt>
  <dd>
    Center for Climate System Research &ndash; Model for Interdisciplinary Research on Climate (medium resolution)
  </dd>
  <dt>5 Model Average</dt>
  <dd>
    A composite of the five models listed above
  </dd>
</dl>

<h3>Emmission Scenario Details (from <a href="http://www.snap.uaf.edu/faq.php#faq_4">SNAP</a>)</h3>
<dl class="dl-horizontal">
  <dt>Scenario A1B</dt>
  <dd>
    <ul>
      <li>Rapid economic growth</li>
      <li>A global population that reaches 9 billion in 2050 and then gradually declines</li>
      <li>The quick spread of new and efficient technologies</li>
      <li>A convergent world - income and way of life converge between regions</li>
      <li>Extensive social and cultural interactions worldwide</li>
      <li>A balanced emphasis on all energy sources</li>
    </ul>
  </dd>
  <dt>Scenario B1</dt>
  <dd>
    <ul>
      <li>Rapid economic growth as in A1B, but with rapid changes towards a service and information economy</li>
      <li>Population rising to 9 billion in 2050 and then declining as in A1</li>
      <li>Reductions in material intensity and the introduction of clean and resource efficient technologies</li>
      <li>An emphasis on global solutions to economic, social and environmental stability</li>
    </ul>
  </dd>
  <dt>Scenario A2</dt>
  <dd>
    <ul>
      <li>A world of independently operating, self-reliant nations</li>
      <li>Continuously increasing population</li>
      <li>Regionally oriented economic development</li>
      <li>Slower and more fragmented technological changes and improvements to per capita income</li>
    </ul>
  </dd>
</dl>

{% endblock %}
