<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{config['TITLE']}}</title>
        <link href="/static/css/bootstrap-readable.min.css" rel="stylesheet">
        <link href="/static/css/akindices.css" rel="stylesheet">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <script type=text/javascript>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <div class="container" style="max-width:90%">
        <div class="page-header">
            <h1>{{title}}<br><small>alaska climate data</small></h1>
        </div>
        {% block content %}{% endblock %}
        <hr>

        <div id="footer">
            <p class="text-muted credit">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
            <br>
            <small>Created by <a href="mailto:mrdillon@alaska.edu">Matthew Dillon</a>, 2015.</small>
            </p>
        </div>
    </div>
    </body>
</html>
